{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block titulo %}Detalle{% endblock %}</title>
</head>
<body>
	{% block content %}
		{{error}}
		<h2>{{tarea.titulo}}</h2>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button>Actualizar</button>
		</form>

		<form action="{% url 'completar_tarea' tarea.id %}" method="POST">
			{% csrf_token %}
			<button>completar</button>
		</form>

		<form action="{% url 'eliminar_tarea' tarea.id %}" method="POST">
			{% csrf_token %}
			<button>Eliminar</button>
		</form>
	{% endblock %}
</body>
</html>