{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block titulo1 %} Alumno {{pk}} {% endblock %}</title>
</head>
<body>
	{% block h1 %} <h1>Ejemplo para alumno 2 </h1>{% endblock %}
	{% block h2 %} <h2>Información del alumno...</h2>{% endblock %}

	{% block content2 %}
		<h2>Acá puedes meter otro título</h2>
		<p>MÁS INFORMACIÓN DEL ALUMNO</p>
		<p>UNA PUBLICIDAD BIEN ALOCADA</p>
		<button onclick="location.href=' '">Siguiente alumno</button>
	{% endblock %}

		<p>
	<button type="button" onclick="location.href='/'"> <img src="/static/images/CG2.png" height ="30" width="30" /></button>
	<button type="button"> <img src="https://bit.ly/3BF9FD7" height ="80" width="100" /></button>
	</p>
</body>
</html>